* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  padding: 5px;
}
h1{
  color: rgb(26, 10, 128);
  background: rgb(0, 153, 255);
}
header{
  border: 1px solid green;
  padding: 10px;
  margin: 10px;
}
p{
  text-align: center;
 
}

body{
  background:whitesmoke;
}

figcaption{
  font-size: 20px;
  color:rgb(98, 0, 255) ;
}
#sectionWithBackground {
background:rgba(192, 192, 192, 0.767) ;
}
#headerWithStyles{
  color: #878dd9;
  background: rgba(214, 205, 219, 0.5);
}

.yellowBackgroumd{
  background: yellowgreen;
  color: black;
}

.text-align-center{
  text-align: center;
}
#sectionWithBackground{
  background-color: seashell;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/hotel-wallpaper.png);
background-repeat: repeat-x;
border-width: 5px;
border-style: solid;
border-radius: 25px;
padding: 10px;
}

#sectionWithBackground h3{
  border-left-color:skyblue ;
  border-left-width: 10px; 
  border-left-style: solid;
}
$body-color: black;

body{
  color: $body-color;
  font-family: sans-serif;
}

table{
  border-collapse: collapse;
}
table,tr,td,th{
  border: 1px solid black;
}

img{
  margin: 10px 5px;
  border-radius: 10px ;
}

.roundImage{
  border-radius: 50px;
}