* {
  font-family: Georgia, 'Times New Roman', Times, serif
}

body{
  padding: 5px;
}

header,footer,a{
  color: rgb(205, 202, 219);
  background: rgb(72, 74, 75);
  padding-bottom: 5px;
}

main{
  float: left;
  width: 70%;
}

aside{
  float: right;
  width: 30%;
}

footer{
  clear: both;
  }

h3{
  color:  rgb(116, 76, 38);
  ;
}

h1,nav{
  text-align: center;
}

p{
  text-align: left;
 
}

figcaption{
  font-size: 20px;
  color: rgb(106, 105, 110);
}

#sectionWithBackground {
background:rgba(65, 64, 64, 0.767) ;
}

#headerWithStyles{
  color: #7c7d80;
  background: rgba(214, 205, 219, 0.5);
}

#widthHeightTest{
  width: 200px;
  height:300px;
  padding: 20px 10px 20px 10px;
  border: 2px solid rgb(68, 68, 73);
  margin: 5px;
  background-color: rgba(214, 205, 219, 0.5)
}

.text-align-center{
  text-align: center;
}

$body-color: black;

body{
  color: $body-color;
  font-family: sans-serif;
}
thead{
  background-color:  rgba(214, 205, 219, 0.5);
}
table{
  border-collapse: collapse;
}
table,tr,td,th{
  border: 1px solid black;
  
}


.roundImage{
  border-radius: 0px;
}